# Homework 3 - Simple Momentum Strategy

1. Download daily price data for QQQ, TLT, GLD, RWO from yahoo finance since 2016-01-01. Using the adjusted close price data, compute daily returns. This should be a DataFrame with index=date, columns=ticker and values=daily returns.

In [1]:
import yfinance as yf

In [2]:
univ = ["QQQ", "TLT", "GLD", "RWO"]
stock_px = yf.download(univ, start="2024-01-01", end="2024-07-22")

[*********************100%%**********************]  4 of 4 completed

In [3]:
adj_close = stock_px["Adj Close"]

In [4]:
adj_close

Ticker             GLD         QQQ        RWO        TLT
Date
2024-01-02  190.720001  401.420319  43.132603  96.388733
2024-01-03  189.130005  397.172699  42.315804  96.790718
2024-01-04  189.320007  395.128662  42.197720  95.320045
2024-01-05  189.350006  395.597290  42.227238  94.408203
2024-01-08  187.869995  403.773499  42.798012  95.339645
...                ...         ...        ...        ...
2024-07-15  223.830002  496.149994  43.540001  92.860001
2024-07-16  228.289993  496.339996  43.910000  94.169998
2024-07-17  227.229996  481.769989  44.110001  94.190002
2024-07-18  225.779999  479.489990  43.700001  93.470001
2024-07-19  221.729996  475.239990  43.549999  92.919998

[138 rows x 4 columns]

Ticker           GLD       QQQ       RWO       TLT
Date
2024-01-02       NaN       NaN       NaN       NaN
2024-01-03 -0.008337 -0.010581 -0.018937  0.004170
2024-01-04  0.001005 -0.005146 -0.002791 -0.015194
2024-01-05  0.000158  0.001186  0.000700 -0.009566
2024-01-08 -0.007816  0.020668  0.013517  0.009866
...              ...       ...       ...       ...
2024-07-15  0.003227  0.002688  0.004383 -0.011497
2024-07-16  0.019926  0.000383  0.008498  0.014107
2024-07-17 -0.004643 -0.029355  0.004555  0.000212
2024-07-18 -0.006381 -0.004733 -0.009295 -0.007644
2024-07-19 -0.017938 -0.008864 -0.003433 -0.005884

[138 rows x 4 columns]

2. Compute the signal. Complete the compute_momentum function which computes a simple momentum signal. The function takes in a DataFrame with index = date, columns=ticker and values containing daily returns. It returns a new DataFrame with index = date, columns=ticker and values containing the momentum signal for the ticker on that day. The momentum signal for each ticker is defined as the annualized sharpe ratio of the past 252 days.

In [22]:
import math

returns = adj_close/adj_close.shift() - 1
 

def compute_momentum(ret):
    momentum = ret.rolling(252).mean()/ret.rolling(252).std()*math.sqrt(252)
    return momentum

momentum = compute_momentum(returns)
momentum

Ticker      GLD  QQQ  RWO  TLT
Date
2024-01-02  NaN  NaN  NaN  NaN
2024-01-03  NaN  NaN  NaN  NaN
2024-01-04  NaN  NaN  NaN  NaN
2024-01-05  NaN  NaN  NaN  NaN
2024-01-08  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...
2024-07-15  NaN  NaN  NaN  NaN
2024-07-16  NaN  NaN  NaN  NaN
2024-07-17  NaN  NaN  NaN  NaN
2024-07-18  NaN  NaN  NaN  NaN
2024-07-19  NaN  NaN  NaN  NaN

[138 rows x 4 columns]

3. Create a portfolio. Complete the function compute_portfolio. This function takes as input the DataFrame "momentum" from above. It returns a new DataFrame "portfolio" which has the same index/columns and has as values portfolio weights. The weights are computed as follows. On each date, equal-weight long the tickers with a momentum signal above 1.

In [21]:
def compute_portfolio(momentum):
    portfolio = (momentum > 1) * 1
    portfolio = portfolio.div(portfolio.abs().sum(1),0)
    # fill out the body here
    # return a DataFrame "portfolio" containing portfolio weights
    return portfolio

Ticker      GLD  QQQ  RWO  TLT
Date
2024-01-02  NaN  NaN  NaN  NaN
2024-01-03  NaN  NaN  NaN  NaN
2024-01-04  NaN  NaN  NaN  NaN
2024-01-05  NaN  NaN  NaN  NaN
2024-01-08  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...
2024-07-15  NaN  NaN  NaN  NaN
2024-07-16  NaN  NaN  NaN  NaN
2024-07-17  NaN  NaN  NaN  NaN
2024-07-18  NaN  NaN  NaN  NaN
2024-07-19  NaN  NaN  NaN  NaN

[138 rows x 4 columns]

4. Portfolio returns. Using the "portfolio" returned in part(3) and the returns generated in part(1), compute the returns to the simple momentum strategy. 
- What is the annualized sharpe ratio of the strategy? 
- How about the annualized sharpe ratio within each year? 
- How correlated is the strategy with the underlying tickers?
- Plot the cumulative sum of the returns through time

In [20]:
momentum = compute_momentum(returns)
momentum

Ticker      GLD  QQQ  RWO  TLT
Date
2024-01-02  NaN  NaN  NaN  NaN
2024-01-03  NaN  NaN  NaN  NaN
2024-01-04  NaN  NaN  NaN  NaN
2024-01-05  NaN  NaN  NaN  NaN
2024-01-08  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...
2024-07-15  NaN  NaN  NaN  NaN
2024-07-16  NaN  NaN  NaN  NaN
2024-07-17  NaN  NaN  NaN  NaN
2024-07-18  NaN  NaN  NaN  NaN
2024-07-19  NaN  NaN  NaN  NaN

[138 rows x 4 columns]

In [ ]:


strategy_returns = (portfolio.shift()*ret)